node_modules/.package-lock.json
node_modules/ansi-regex/index.d.ts
node_modules/ansi-regex/index.js
node_modules/ansi-regex/license
node_modules/ansi-regex/package.json
node_modules/ansi-regex/readme.md
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/cliui/CHANGELOG.md
node_modules/cliui/index.mjs
node_modules/cliui/LICENSE.txt
node_modules/cliui/package.json
node_modules/cliui/README.md
node_modules/cliui/build/index.cjs
node_modules/cliui/build/index.d.cts
node_modules/cliui/build/lib/index.js
node_modules/cliui/build/lib/string-utils.js
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/LICENSE
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/emoji-regex/index.d.ts
node_modules/emoji-regex/index.js
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/package.json
node_modules/emoji-regex/README.md
node_modules/emoji-regex/text.js
node_modules/emoji-regex/es2015/index.js
node_modules/emoji-regex/es2015/text.js
node_modules/escalade/index.d.ts
node_modules/escalade/license
node_modules/escalade/package.json
node_modules/escalade/readme.md
node_modules/escalade/dist/index.js
node_modules/escalade/dist/index.mjs
node_modules/escalade/sync/index.d.ts
node_modules/escalade/sync/index.js
node_modules/escalade/sync/index.mjs
node_modules/get-caller-file/index.d.ts
node_modules/get-caller-file/index.js
node_modules/get-caller-file/index.js.map
node_modules/get-caller-file/LICENSE.md
node_modules/get-caller-file/package.json
node_modules/get-caller-file/README.md
node_modules/is-fullwidth-code-point/index.d.ts
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/license
node_modules/is-fullwidth-code-point/package.json
node_modules/is-fullwidth-code-point/readme.md
node_modules/require-directory/.jshintrc
node_modules/require-directory/.npmignore
node_modules/require-directory/.travis.yml
node_modules/require-directory/index.js
node_modules/require-directory/LICENSE
node_modules/require-directory/package.json
node_modules/require-directory/README.markdown
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/license
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/strip-ansi/index.d.ts
node_modules/strip-ansi/index.js
node_modules/strip-ansi/license
node_modules/strip-ansi/package.json
node_modules/strip-ansi/readme.md
node_modules/wrap-ansi/index.js
node_modules/wrap-ansi/license
node_modules/wrap-ansi/package.json
node_modules/wrap-ansi/readme.md
node_modules/y18n/CHANGELOG.md
node_modules/y18n/index.mjs
node_modules/y18n/LICENSE
node_modules/y18n/package.json
node_modules/y18n/README.md
node_modules/y18n/build/index.cjs
node_modules/y18n/build/lib/cjs.js
node_modules/y18n/build/lib/index.js
node_modules/y18n/build/lib/platform-shims/node.js
node_modules/yargs/browser.mjs
node_modules/yargs/index.cjs
node_modules/yargs/index.mjs
node_modules/yargs/LICENSE
node_modules/yargs/package.json
node_modules/yargs/README.md
node_modules/yargs/yargs
node_modules/yargs/yargs.mjs
node_modules/yargs/build/index.cjs
node_modules/yargs/build/lib/argsert.js
node_modules/yargs/build/lib/command.js
node_modules/yargs/build/lib/completion-templates.js
node_modules/yargs/build/lib/completion.js
node_modules/yargs/build/lib/middleware.js
node_modules/yargs/build/lib/parse-command.js
node_modules/yargs/build/lib/usage.js
node_modules/yargs/build/lib/validation.js
node_modules/yargs/build/lib/yargs-factory.js
node_modules/yargs/build/lib/yerror.js
node_modules/yargs/build/lib/typings/common-types.js
node_modules/yargs/build/lib/typings/yargs-parser-types.js
node_modules/yargs/build/lib/utils/apply-extends.js
node_modules/yargs/build/lib/utils/is-promise.js
node_modules/yargs/build/lib/utils/levenshtein.js
node_modules/yargs/build/lib/utils/maybe-async-result.js
node_modules/yargs/build/lib/utils/obj-filter.js
node_modules/yargs/build/lib/utils/process-argv.js
node_modules/yargs/build/lib/utils/set-blocking.js
node_modules/yargs/build/lib/utils/which-module.js
node_modules/yargs/helpers/helpers.mjs
node_modules/yargs/helpers/index.js
node_modules/yargs/helpers/package.json
node_modules/yargs/lib/platform-shims/browser.mjs
node_modules/yargs/lib/platform-shims/esm.mjs
node_modules/yargs/locales/be.json
node_modules/yargs/locales/cs.json
node_modules/yargs/locales/de.json
node_modules/yargs/locales/en.json
node_modules/yargs/locales/es.json
node_modules/yargs/locales/fi.json
node_modules/yargs/locales/fr.json
node_modules/yargs/locales/hi.json
node_modules/yargs/locales/hu.json
node_modules/yargs/locales/id.json
node_modules/yargs/locales/it.json
node_modules/yargs/locales/ja.json
node_modules/yargs/locales/ko.json
node_modules/yargs/locales/nb.json
node_modules/yargs/locales/nl.json
node_modules/yargs/locales/nn.json
node_modules/yargs/locales/pirate.json
node_modules/yargs/locales/pl.json
node_modules/yargs/locales/pt_BR.json
node_modules/yargs/locales/pt.json
node_modules/yargs/locales/ru.json
node_modules/yargs/locales/th.json
node_modules/yargs/locales/tr.json
node_modules/yargs/locales/uk_UA.json
node_modules/yargs/locales/uz.json
node_modules/yargs/locales/zh_CN.json
node_modules/yargs/locales/zh_TW.json
node_modules/yargs-parser/browser.js
node_modules/yargs-parser/CHANGELOG.md
node_modules/yargs-parser/LICENSE.txt
node_modules/yargs-parser/package.json
node_modules/yargs-parser/README.md
node_modules/yargs-parser/build/index.cjs
node_modules/yargs-parser/build/lib/index.js
node_modules/yargs-parser/build/lib/string-utils.js
node_modules/yargs-parser/build/lib/tokenize-arg-string.js
node_modules/yargs-parser/build/lib/yargs-parser-types.js
node_modules/yargs-parser/build/lib/yargs-parser.js
bin/.DS_Store
velocity_validator/velocity-validator-master/src/test/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/ParamsParserTest.java
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/utils/StringUtilsTest.java
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/validators/.DS_Store
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/validators/impl/RegexValidatorImplTest.java
velocity_validator/velocity-validator-master/src/test/java/com/ivitera/velocity/validator/validators/impl/VelocityParserValidatorImplTest.java
velocity_validator/velocity-validator-master/src/test/resources/CorrectTemplate.vm
velocity_validator/velocity-validator-master/src/test/resources/IncorrectVariableName.vm
velocity_validator/velocity-validator-master/src/test/resources/properties.conf
velocity_validator/velocity-validator-master/src/test/resources/TwoEndBlocksTemplate.vm
velocity_validator/velocity-validator-master/src/test/resources/UnfinishedBlockTemplate.vm
velocity_validator/velocity-validator-master/src/test/resources/WrongForeachTemplate.vm
velocity_validator/.DS_Store
velocity_validator/velocity-validator-master.zip
velocity_validator/velocity-validator-master/.DS_Store
velocity_validator/velocity-validator-master/.gitignore
velocity_validator/velocity-validator-master/.travis.yml
velocity_validator/velocity-validator-master/dependency-reduced-pom.xml
velocity_validator/velocity-validator-master/LICENSE
velocity_validator/velocity-validator-master/pom.xml
velocity_validator/velocity-validator-master/README.md
velocity_validator/velocity-validator-master/bin/.DS_Store
velocity_validator/velocity-validator-master/src/.DS_Store
velocity_validator/velocity-validator-master/src/main/.DS_Store
velocity_validator/velocity-validator-master/src/main/java/.DS_Store
velocity_validator/velocity-validator-master/src/main/java/com/.DS_Store
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/.DS_Store
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/.DS_Store
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/ClassImporter.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/Main.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/ParamsParser.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/VelocityTemplateHelper.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/exceptions/InitializationException.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/exceptions/InputParamsException.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/exceptions/ValidationException.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/utils/PathSearcher.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/utils/StringUtils.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/validators/Runner.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/validators/Validator.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/validators/ValidatorsService.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/validators/impl/RegexValidatorImpl.java
velocity_validator/velocity-validator-master/src/main/java/com/ivitera/velocity/validator/validators/impl/VelocityParserValidatorImpl.java
velocity_validator/velocity-validator-master/src/main/resources/log4j.xml
